* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

head{
    text-align: center;
}

#all{
    width: 1200px;
    height: 2000px;
    background-color: white;
    margin:auto;
}

li {
    text-decoration: none;
}

nav {
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 70, 126);
    padding-inline: auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
}

.strand-navbar {
    align-items: center;
    justify-content: center;
    
}

button {
    height: 40px;
    width:250px;
    font-size: 19;
    border: none;
    transition-property: background-color;
    transition-duration: .1s;
    background-color: rgb(43,101, 181);
    transition-property: color;
    color: rgb(221, 225, 255);
}

button:hover {
    display: inline-block;
    background-color: rgb(29, 68, 123);
    color: rgb(172, 196, 230);
}

h1 {
    font-size: 50;
}
body {
    background-image: url(https://static.wixstatic.com/media/a1feb1_b3f78fdf78fc4d6d8592d03696225a90~mv2.jpg/v1/fill/w_980,h_690,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a1feb1_b3f78fdf78fc4d6d8592d03696225a90~mv2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

.strndcontent {
    width: 1100px;
    display:flex;
    text-align: center;
    gap: 4;
    padding: 30px;
    width: calc(fit-content - 5%);
    height: fit-content;
    background-color: aqua;
    margin:auto;
}

/* Content per strand */
 
.title{
    width: 1100px;
    backgroun
}
.container1{
    flex:3;
    height: 1000px;
    padding: 50px;
    background-color: bisque;
}

.container2{
    flex:1;
    height: 1000px;
    background-color: bisque;
    margin-left: 40px;
}

        .overview{
            width: 400px
            height: 500px;
        }

        .whychoose_{
            height: 500px;
            padding: 20px;
        }

.courses{
                 
}
/*---------------------------------------------------------------------*/

/* Image Carousel */
.container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: fit-content;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}
